<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>View listing</title>
  </head>
  <body>
    <ul id='listings'>
          Title: <%= @listing.title %>
          <br>
          Description: <%= @listing.description %>
          <br>
          Price: £<%= @listing.price %>
          <br>
          Unavailable dates:
          <% @bookings.each do |booking| %>
            <li>
              <%= booking.check_in_date %> - <%= booking.check_out_date %>
            </li>
          <% end %>
          <br>
            <form action='/bookings/new' method='get'>
          <input type='hidden' name='listing_id' value='<%= @listing.id %>'>
          <input type='submit' value='Request Booking'>
        </form>
    </ul>
  </body>
</html>
